services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    command: "bun run start"
    container_name: findcv-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=${NODE_ENV}
      - DATABASE_URL=${DATABASE_URL}
      - TRUSTED_ORIGINS=${TRUSTED_ORIGINS}
      - STORAGE_REGION=${STORAGE_REGION}
      - STORAGE_ENDPOINT=${STORAGE_ENDPOINT}
      - STORAGE_ACCESS_KEY=${STORAGE_ACCESS_KEY}
      - STORAGE_SECRET_KEY=${STORAGE_SECRET_KEY}
      - STORAGE_BUCKET_NAME=${STORAGE_BUCKET_NAME}
      - OPENAPI_ACCESS_MODE=${OPENAPI_ACCESS_MODE}
      - MEILI_HOST=${MEILI_HOST}
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_COOKIE_DOMAIN=${BETTER_AUTH_COOKIE_DOMAIN}

  dashboard:
    build:
      context: .
      dockerfile: apps/dashboard/Dockerfile
      args:
        - API_BASE_URL=${API_BASE_URL}
        - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
        - NEXT_PUBLIC_STORAGE_BASE_URL=${NEXT_PUBLIC_STORAGE_BASE_URL}
    command: "bun run start"
    container_name: findcv-dashboard
    restart: unless-stopped
    environment:
      - API_BASE_URL=${API_BASE_URL}
    depends_on:
      - backend

  website:
    build:
      context: .
      dockerfile: apps/website/Dockerfile
      args:
        - API_BASE_URL=${API_BASE_URL}
        - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
        - NEXT_PUBLIC_STORAGE_BASE_URL=${NEXT_PUBLIC_STORAGE_BASE_URL}
    command: "bun run start"
    container_name: findcv-website
    restart: unless-stopped
    environment:
      - API_BASE_URL=${API_BASE_URL}
    depends_on:
      - backend
